body {
    font-size: 15px;
    font-family: sans-serif;
}

/*
* Formulário de login
*/

.container-info {
    width: 17%;
    margin: auto;
    margin-top: 5%;
}
.texto-centro {
    text-align: center;
    font-weight: 700;
}

.texto-centro-light {
    text-align: center;
    font-weight: 300;
}

.container_form {
    background: #ccc;
    width: 320px;
    margin: auto;
    margin-top: 2%;
    
    height: 200px;
}

.container_form .input {
    width: 80%;
    margin: auto;
}

.container_form .input input {
    width: 98%;
    height: 30px;
    border: none;
    margin-bottom: 18px;
    margin-top: 5px;
}

input.btn-submit {
    height: 40px !important;
    background: #f3a619;
    color: #fff;
    font-size: 16px;
}

input.btn-submit:hover {
    background: #2323ea;
}


/* fim Formulário de login*/

/*Interface Administração*/
.container {
    width: 100%;
}

form .xml-importa{
    display: inline-flex;
}

input.input-submt {
    /* height: 29px; */
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    float: right;
}

.form-header {
    width: 100%;
    height: 60px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding: 5px 0px 15px;
}

.form-edicao {

    width: 100%;
    height: 30px;
    margin-bottom: 10px;

}

.edita-usuario {
    width: 30%;
    float: left;
}

.emvia-email-usuario {
    width: 20%;
    float: left;
}

.containe-form-body {
    width: 400px;
    float: right;
	height: 60px;
}

.container-welcome {
    width: 290px;
    /* background: red; */
    float: left;
    margin-right: 10px;
    margin-top: 16px;
}

.container-cadastro {
    width: 166px;
    float: left;
    height: 60px;
    line-height: 42px;
}

.container-logout {
    float: right;
    width: 150px;
    height: 60px;
}

.container-logout a {
    line-height: 50px;
    margin-left: 25px;
    background: #2020a2;
    padding: 7px 40px 7px 40px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

button {
    height: 31px;
    border: none;
    border-radius: 4px;
}

input[type="file"] {
   
    margin-top: 15px;
}

input[type="password"], input[type="text"], input[type="submit"]{
    display: block;
}

/*Fim de interface administração*/

/*Formatação de tabelas*/

table.table {
    border-collapse: collapse;
}

thead.border-bottom th {
    padding: 15px 10px 15px;
    border: 1px solid #ccc;
}

tr.no-hover{
    background: #f9f9f9;
}
tr.hover:hover {
    background: #f9f9f9;
}

tbody td {
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left:  1px solid #ccc;
}

/*Formulario de cadastro*/
.cadastro-usuario {
    /* background: rebeccapurple; */
    display: inherit;
    width: 25%;
    margin: auto;
}

.cadastro-input{
	width: 100%;
	height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cadastro-usuario label {
    color: #000;
    font-weight: 700;
}

.cadastro-submit {
    height: 30px;
    margin-top: 10px;
}

textarea.email-textarea {
    height: 300px;
    width: 99%;
    margin-top: 15px;
}

/*Formulário de cadastro*/